
* {
  
}

body {
   margin:0px;
   overflow-x:auto;overflow-y:auto;
}

#banner{
	margin: 5px;
}

.press{
  display: block;
  color: #667;
  font-weight:bold;
  background-color: #ec8;
}

#navigation {
  background-color: #AAD5FF;
  border-color: #667;
  border-bottom-width: 0;
  border-top-width: 0;
}

#navigation ul {
  width: 100%;
  height: 36px;
  border-color: #ffffff;
  border-left-width: .1em;
  border-left-style: solid;
  margin: 0px; 
  padding-left: 60px;
}

#navigation ul li {
  display: inline;
  float: left;
  position:relative;
  text-align:center;
  line-height:28px;
  z-index: 100;
}

#navigation ul li a {
  display: block;
  color: #000000;
  text-decoration: none;
  font-size:14px;
  font-weight: bold;
  padding: 4px 25px;
  border-right: 2px solid #ffffff;
}

#navigation ul li a:hover {
  color: #eeeeee;
  background-color: #ec8;
}

#navigation ul li ul {
    display:none;
    position:absolute;
    top:35px;
    left:-2px;
    clear: both;
    width: 100%;
    margin: 0px; padding: 0px;
}

#navigation ul li ul li {
   text-align:center;
   clear:both;
   width: 100%;
   background-color: #AAD5FF;
}

#navigation ul li ul li a {
   display: block;
   color: #000000;
   text-decoration: none;
   font-size:14px;
   font-weight: bold;
   border-top:1px solid #fff;
   padding: 4px 4px;
}

.titleBarTop{
	background-color: #DCEAFC;
    height:2em;
    font-weight: bold;
    border-top:1px solid #0000FF;
    padding: 5px;
}

.searchTxt {
	width:75%; font-size:x-large;
	padding: 2px 2px 2px 4px;
	vertical-align: middle;
	border: 2px solid lightblue;
}

.navlistBar{
   width:99.5%;
   font-size: 1.2em;
   background-color:#F5FBFE;
   margin:2px;
   padding:5px 5px 5px 15px;
   vertical-align:top;
   text-align: left;
   clear: both;
}

.navlistBar a{
   margin-left: 10px;
}

/** this is for bootstrap col-md-8 style, add this to center content **/
.center-block {
    float: none;
}
