.{
   
}

body{
   margin:0;
   overflow-x:auto;overflow-y:auto;
}

.editPage{
    text-align: center;
    margin-left: 7px;
}

.centerstyle{
    width:1000px;
    left: 50%;
	position:relative;
	clear: both;
	margin-left: -500px;
}

.fieldLabel{
	float:left;
	clear:left;
	width:35%;
	text-align:right;
    margin:2px;
}

.fieldLabelNewdiv{
	float:left;
	clear:left;
	width:17%;
	text-align:right;
    margin:2px;
}

.field{
    float:left;
    text-align:left;
    padding-left: 20px;
}

.field input{
   width: 300px;
   font-size: 20px;	
}

.field select{
   width: 300px;
   font-size: 20px;	
}

.fieldDesc{
    float:left;	
    clear:right;
}

#functionLineDiv{
    height:30px;
	margin:2px;
	padding:2px;
	border:1px solid #CCCCCC;
}

#functionBarTopDiv{
    float:left;
}

#functionBarTopDiv ul{
	margin:2px;
	padding:2px;
}

#functionBarTopDiv li{
    display: inline;
	list-style-type: none;
}

#toUrl{
    margin:2px;
    float:right;
}

#help{
    margin:2px;
    float:right;
}

#fieldsTitleDiv{
	background-color: #DCEAFC;
    font-size:1.8em; text-align: center;
	padding-top:10px; padding-bottom:10px;
	margin-top:10px; margin-bottom:10px;
	clear:both;
}

.fieldsTitleDiv{
	background-color: #DCEAFC;
	font-size:1.8em; text-align: center;
	padding-top:10px; padding-bottom:10px;
	margin-top:10px; margin-bottom:10px;
	clear:both;
	width: 100%;
}

#fieldDisDiv{
    margin-top: 25px;
    clear:both;
}

#fieldDisDiv ul{
	padding:2px;
}

#fieldDisDiv li{
    display: inline;
    clear:both;
    line-height: 3em;
    text-align: center;
	list-style-type: none;
}

#fieldDisDiv input{
    line-height: 1.5em;
}

.fieldDisDiv{
    margin-top: 25px;
}

.fieldDisDiv ul{
	padding:2px;
}

.fieldDisDiv li{
    display: inline;
    clear:both;
    line-height: 3em;
    text-align: center;
	list-style-type: none;
}

.fieldDisDiv input{
    line-height: 1.5em;
}

#displayMessDiv{
	text-align:center;    
	clear:both;
	text-align: 5px;
}

#functionBarButtomDiv{
	padding-top:15px;
    text-align:center;
    clear:both;
    padding-bottom: 15px;
}

#functionBarButtomDiv ul{
	margin:2px;
	padding:2px;
}

#functionBarButtomDiv li{
	margin:15px;
    display: inline;
	list-style-type: none;
}

#functionBarButtomDiv button{
	font-size: larger;
}

.formTable {  
	border:1px solid #dddddd;
	margin-top:5px;
	margin-left:5px;
	text-align:center;
	width:98%;
}

.formTable td{
	border:1px solid #dddddd;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-left: 5px;
}

.formTable input{
   font-size: 20px;	
}

.formTable select{
   font-size: 20px;	
}

.noborderTable {  
	border:0;
	margin-top:5px;
	text-align:center;
	width:100%;
}

.noborderTable td{
	border:0;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-left: 5px;
}

.fieldDisClass{
	margin-top: 50px;
}

.fieldDisClass ul{
	padding:2px;
}

.fieldDisClass li{
	font-size: large;
    display: inline;
    clear:both;
	padding-top:7px;
	margin-left:2px;
	list-style-type: none;
}

.captionDiv{
	background-color: #DCEAFC;
    clear:both;
    height:28px;
	margin:2px;
    text-align:center;
    border:1px solid #CCCCCC;
}

.tableHead {
   width: 100%;
   background-color:#AACEF2;
   font-weight: bold;
}

.tableHead td{
   white-space:nowrap;
}

.navlistBar{
   width:100%;
   height:32px;
   font-size: 1.2em;
   background-color:#F5FBFE;
   padding:5px 5px 5px 15px;
   vertical-align:top;
   text-align: left;
   clear: both;
}

.navlistBar a{
   margin-left: 10px;
}

.userInput {
   width: 300px;
   font-size: 20px !important;	
}

/** this is for bootstrap col-md-8 style, add this to center content **/
.center-block {
    float: none;
}
